EATMYDATA=1
DEBOOTSTRAP_INCLUDE=vim-tiny

if [ "$DISTRO" = "debian" ]; then
	case "$CHROOT_ARCH" in
	i386|amd64|arm64|armhf|armel|i386|mips64el|mipsel|ppc64el|s390x)
		DEBOOTSTRAP_MIRROR="http://cloudfront.debian.net/debian/"
		;;
	*)
		DEBOOTSTRAP_MIRROR="http://cloudfront.debian.net/debian-ports/"
		DEBOOTSTRAP_KEYRING=/usr/share/keyrings/debian-ports-archive-keyring.gpg
		;;
	esac
elif [ "$DISTRO" = "ubuntu" ]; then
	case "$CHROOT_ARCH" in
	i386|amd64)
		DEBOOTSTRAP_MIRROR="http://us.archive.ubuntu.com/ubuntu/"
		;;
	*)
		DEBOOTSTRAP_MIRROR="http://ports.ubuntu.com/"
		;;
	esac
fi

# LVM:
VG=sbuild
LV_SIZE=10G
SNAPSHOT_SIZE=10G
