EATMYDATA=1
DEBOOTSTRAP_INCLUDE=vim-tiny

if [ "$DISTRO" = "debian" ]; then
	DEBOOTSTRAP_MIRROR="http://cloudfront.debian.net/debian/"
elif [ "$DISTRO" = "ubuntu" ]; then
	case "$ARCH" in
	i386|amd64)
		DEBOOTSTRAP_MIRROR="http://us.archive.ubuntu.com/ubuntu/"
		;;
	*)
		DEBOOTSTRAP_MIRROR="http://ports.ubuntu.com/"
		;;
	esac
fi

# LVM:
VG=sbuild
LV_SIZE=10G
SNAPSHOT_SIZE=10G
